/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
input {
  overflow: visible;
}

/*END RESETS*/
/* GLOBAL STYLES */
.form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}
.btn.toggle-btn {
  border-width: 1px;
  border-color: #d3d3d3;
}
.btn.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  background-color: #065763;
}
.btn__danger {
  color: #fff;
  background-color: #ca3c3c;
  border-color: #bd2130;
}
.btn__filter {
  border-color: lightgrey;
}
.btn__primary {
  color: #fff;
  background-color: #000;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.btn-group > * {
  flex: 1 1 49%;
}
.btn-group > * + * {
  margin-left: 0.8rem;
}
.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.stack-exception {
  margin-top: 0.5rem;
}
/* END GLOBAL STYLES */
.todoapp {
  margin-bottom: 4rem;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 550px) {
  .todoapp {
    padding: 4rem;
  }
}
.todoapp > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.todoapp > form {
  max-width: 100%;
}
.todoapp > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.input__lg {
  padding: 2rem;
  border: 2px solid #000;
}
.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}
[class*="__lg"] {
  display: inline-block;
  width: 100%;
  font-size: 1.9rem;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}
.filters {
  width: 100%;
  margin: unset auto;
}
/* Todo item styles */

.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 670px;
  width: 100%;
  min-height: 100px;
  margin: 0 auto 15px;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.todo > * {
  flex: 0 0 100%;
}
.todo-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}
.todo-text:focus {
  box-shadow: inset 0 0 0 2px;
}


/* Mi css */

label {
  margin-bottom: 0rem !important;
}

.form-group > input[type="text"] {
  margin-top: 2px !important;
  border-radius: .25rem;
}

.nav-link {
  padding: 0.1rem 1rem !important;
}

@media screen and (max-width: 550px) {
  .btn-group {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
      position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 0.5em;
  }

  .btn-group>.btn, .btn-group>.btn-group {
    width: 100%;
  }
}

.formControlSelect {
  padding: 0.1rem 1rem !important;
  height: auto !important;
}

header {
  margin: 0;
  padding: 20px;
  letter-spacing: 4px;
  box-shadow: 5px 5px 60px #d9d9d9, -5px -5px 60px #ffffff; 
}

@media screen and (min-width: 768px) {
    header {
      padding: 40px 20px; 
  } 
}

header h1 {
  text-align: center;
  font-size: 40px; 
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #17a2b8 !important;
}
.nav-item>a{
  color: black;
}

.task-complete{
  text-decoration: line-through;
}